<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script language="JavaScript" type="text/javascript"
            src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>메인페이지</title>
</head>
<body>
<!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
<h1>Mini Project</h1>
<div sec:authorize="isAnonymous()" style="margin-right: 25px;">
    <a class="btn btn-dark" th:href="@{/user/login}"> 로그인</a>
</div>
<div sec:authorize="isAnonymous()" style="margin-right: 25px;">
    <a class="btn btn-dark" th:href="@{/user/join}"> 회원가입</a>
</div>
<div sec:authorize="isAnonymous()" style="margin-right: 25px;">
    <a th:href="@{/test/all}">public board</a>
</div>
<div sec:authorize="hasAuthority('ROLE_USER')" style="margin-right: 25px;">
    <a th:href="@{/test/user}">user board</a>
</div>
<div sec:authorize="hasAuthority('ROLE_MODERATOR')" style="margin-right: 25px;">
    <a th:href="@{/test/mode}">moderator board</a>
</div>
<div sec:authorize="hasAuthority('ROLE_ADMIN')" style="margin-right: 25px;">
    <a th:href="@{/test/admin}">admin board</a>
</div>
<a onclick="admin()">admin</a>

<button onclick="admin()">admin board</button>

<div id="board"></div>


</body>
<script>
    function admin() {
        let apiToken = document.cookie;
        alert(apiToken)
        $.ajax({
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", "Bearer " + apiToken.substring(9));
            },
            type: 'get',
            url: '/test/admin',
            contentType: "application/json",
            datatype: "html",
            error: [function (err) {
                console.log(err);
                alert("서버가 응답하지 않습니다.");
                return false;
            }],
            success: [function (data) {
                console.log(data);
                $('html').html(data)
            }],
        })

    }

</script>
</html>