<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
<a th:href="@{/user/login}">login</a>
<a th:href="@{/user/join}">join</a>
<a th:href="@{/test/all}">public board</a>
<a th:href="@{/test/user}">user board</a>
<a th:href="@{/test/mode}">moderator board</a>
<a th:href="@{/test/admin}">admin board</a>

<!--<a th:href="@{/challenges/library}">Library</a>-->
<!--<a th:href="@{/bookmark/list}">Bookmark</a>-->
<!--<a th:href="@{/notices/list}">Notice</a>-->
</body>
<script>

</script>
</html>