<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="thymeleaf/layouts/default">
<head>
    <title>로그인</title>
</head>
<body>
로그인

<form method="post" action="/api/auth/signin" >
    <label>
        <input type="text" name="username"/>
    </label>
    <label>
        <input type="password" name="password"/>
    </label>
<!--    <input type="hidden" id= "csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />-->
    <button type="submit">로그인</button>
</form>
</body>

</html>